<link rel="stylesheet" href="../../../../assets/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<section class="footer_section d-inline-block w-100 position-relative">
    <img src="../../../../assets/Images/footwer_bottom.svg" class="img-fluid footer_bottom" alt="">
    <div class="container">
        <div class="row py_100">
            <div class="col-md-4">
                <div class="about_footer">
                    <h3 class="foot_title">About Company</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="foot_links">
                    <h3 class="foot_title">Quick Links</h3>
                    <ul class="foot_links_items p-0 m-0 d-inline-block w-100">
                        <li><a href="#" class="foot_item">Home</a></li>
                        <li><a href="#" class="foot_item">Mission</a></li>
                        <li><a href="#" class="foot_item">Branches</a></li>
                        <li><a href="#" class="foot_item">Register</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="foot_links">
                    <h3 class="foot_title">Company</h3>
                    <ul class="foot_links_items p-0 m-0 d-inline-block w-100">
                        <li><a href="#" class="foot_item">About</a></li>
                        <li><a href="#" class="foot_item">Mission</a></li>
                        <li><a href="#" class="foot_item">Branches</a></li>
                        <li><a href="#" class="foot_item">Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="foot_links">
                    <h3 class="foot_title">Follow On</h3>
                    <ul class="foot_links_items p-0 m-0 d-inline-block w-100">
                        <li>
                            <a href="#" class="foot_item" class="d-flex align-items-center"><span
                                    class="social_icons_box"><img src="../../../../assets/Images/svg_icons/facebook.svg"
                                        class="social_icon" alt="" /></span>
                                Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="foot_item" class="d-flex align-items-center"><span
                                    class="social_icons_box"><img src="../../../../assets/Images/svg_icons/twitter.svg"
                                        class="social_icon" alt="" /></span>
                                Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="foot_item" class="d-flex align-items-center"><span
                                    class="social_icons_box"><img src="../../../../assets/Images/svg_icons/google-plus.svg"
                                        class="social_icon" alt="" /></span>
                                Google Plus</a>
                        </li>
                        <li>
                            <a href="#" class="foot_item" class="d-flex align-items-center"><span
                                    class="social_icons_box"><img src="../../../../assets/Images/svg_icons/instagram.svg"
                                        class="social_icon" alt="" /></span>
                                Instragram</a>
                        </li>
                        <li>
                            <a href="#" class="foot_item" class="d-flex align-items-center"><span
                                    class="social_icons_box"><img src="../../../../assets/Images/svg_icons/youtube.svg"
                                        class="social_icon" alt="" /></span>
                                Youtube</a>
                        </li>
                        <li>
                            <a href="#" class="foot_item" class="d-flex align-items-center"><span
                                    class="social_icons_box"><img src="../../../../assets/Images/svg_icons/linkdin.svg"
                                        class="social_icon" alt="" /></span>
                                Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright_sec text-center">
                <h5 class="font_16 redhat_R">© Copyright 2022SPYSS - All Rights Reserved</h5>
            </div>
        </div>
    </div>
</section>