<link rel="stylesheet" href="../../../../assets/styles.css" />
<div class="container mb_90">
            <div class="who_we_are_text text-center">
                <h4 class="primary_text_color font_42 outfit_B who_v_r_heading">Find a nearest <span
                        class="secondary_text_color outfit_B">branch</span></h4>
                <p class="font_16 redhat_SB">Lorem Ipsum is simply dummy text
                    of the printing and <br> typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="row justify-content-center mt_50">
                <div class="col-md-8">
                    <div class="search_box mt-2">
                     <form action="#" class="form-group position-relative d-flex align-items-center mb-0 ">
                         <img src="../../../../assets/Images/svg_icons/search.svg" class="img-fluid branch_search_icon" alt="">
                        <input type="search" placeholder="Search Your Branch Name" class="form-control branch_search" > 
                     
                        <button class="btn btn-primary">Search</button>
                     </form>
                    </div>
                </div>
            </div>
    <div class="container" style="top: 0%;">
    
    <div class="row">
       
        <div class="mt-4 col-md-6 ">
            <p class=" align-items-start font_20 redhat_SB"> Search Results</p>
            <div class="nearest_branch_box mt_30">
                <div class="address_main_container active d-flex align-items-center">
                <div class="branch_image">
                    <img src="../../../../assets/Images/nearest-branch.png" class="img-fluid" alt="">
                </div>
                <div class="branch_address_text ms-3">
                    <h3 class="branch_name_title font_16 redhat_B secondary_text_color mb-2">Pradipika Institute of Yoga and Therapy</h3>
                    <div class="branch_ratings_review d-flex align-items-center">
                        <span class="rating font_14 redhat_R secondary_text_color">4.8</span>
                        <div class="star_rating_img d-flex ms-1">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                        </div>
                        <span class="member_badge active font_12 redhat_R secondary_text_color ms-2">196</span>
                        <span class="branch_type font_12 redhat_R secondary_text_color ms-1">Yoga Studio</span>
                    </div>
                    <p class="mb-2 branch_address_full font_14 redhat_R">726/6, Prakash Enclave, 1st Floor, ESI Main Road,</p>
                    <span class="branch_timeing font_14 redhat_SB">Open , Close 9pm</span>
                </div>
     
                </div>
                   
            </div>

            <div class="nearest_branch_box mt_12">
                <div class="address_main_container d-flex align-items-center mt-2">
                <div class="branch_image">
                    <img src="../../../../assets/Images/nearest-branch.png" class="img-fluid" alt="">
                </div>
                <div class="branch_address_text ms-3">
                    <h3 class="branch_name_title font_16 redhat_B secondary_text_color mb-2">Pradipika Institute of Yoga and Therapy</h3>
                    <div class="branch_ratings_review d-flex align-items-center">
                        <span class="rating font_14 redhat_R secondary_text_color">4.8</span>
                        <div class="star_rating_img d-flex ms-1">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                        </div>
                        <span class="member_badge font_12 redhat_R secondary_text_color ms-2">196</span>
                        <span class="branch_type font_12 redhat_R secondary_text_color ms-1">Yoga Studio</span>
                    </div>
                    <p class="mb-2 branch_address_full font_14 redhat_R">726/6, Prakash Enclave, 1st Floor, ESI Main Road,</p>
                    <span class="branch_timeing font_14 redhat_SB">Open , Close 9pm</span>
                </div>
     
                </div>
              
                <div class="address_main_container d-flex align-items-center">
                    <div class="branch_image">
                        <img src="../../../../assets/Images/nearest-branch.png" class="img-fluid" alt="">
                    </div>
                    <div class="branch_address_text ms-3">
                        <h3 class="branch_name_title font_16 redhat_B secondary_text_color mb-2">Pradipika Institute of Yoga and Therapy</h3>
                        <div class="branch_ratings_review d-flex align-items-center">
                            <span class="rating font_14 redhat_R secondary_text_color">4.8</span>
                            <div class="star_rating_img d-flex ms-1">
                                <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                            </div>
                            <span class="member_badge font_12 redhat_R secondary_text_color ms-2">196</span>
                            <span class="branch_type font_12 redhat_R secondary_text_color ms-1">Yoga Studio</span>
                        </div>
                        <p class="mb-2 branch_address_full font_14 redhat_R">726/6, Prakash Enclave, 1st Floor, ESI Main Road,</p>
                        <span class="branch_timeing font_14 redhat_SB">Open , Close 9pm</span>
                    </div>
         
                    </div>
                    <div class="address_main_container d-flex align-items-center">
                        <div class="branch_image">
                            <img src="../../../../assets/Images/nearest-branch.png" class="img-fluid" alt="">
                        </div>
                        <div class="branch_address_text ms-3">
                            <h3 class="branch_name_title font_16 redhat_B secondary_text_color mb-2">Pradipika Institute of Yoga and Therapy</h3>
                            <div class="branch_ratings_review d-flex align-items-center">
                                <span class="rating font_14 redhat_R secondary_text_color">4.8</span>
                                <div class="star_rating_img d-flex ms-1">
                                    <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                    <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                    <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                    <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                    <img src="../../../../assets/Images/svg_icons/star.svg" class="img-fluid" alt="">
                                </div>
                                <span class="member_badge font_12 redhat_R secondary_text_color ms-2">196</span>
                                <span class="branch_type font_12 redhat_R secondary_text_color ms-1">Yoga Studio</span>
                            </div>
                            <p class="mb-2 branch_address_full font_14 redhat_R">726/6, Prakash Enclave, 1st Floor, ESI Main Road,</p>
                            <span class="branch_timeing font_14 redhat_SB">Open , Close 9pm</span>
                        </div>
             
                        </div>
            </div>
            
         </div>
         <!-- map section -->
         <div class="mt-5 col-md-6 d-inline-flex position-relative"  >
             
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62202.9160441803!2d77.51314897910159!3d12.992163599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d924a8e8279%3A0xbc084f43574ecfce!2sSPYSS%20YOGA%20(Free%20Yoga%20Since%201980)%20%3A%20Siddaganga%20Branch%2C%20Basaveshwar%20Nagar!5e0!3m2!1sen!2sin!4v1648284602012!5m2!1sen!2sin"
               style="border:0;" height="955px" width="943px" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" >
               </iframe>    
       
              
       <div class="branch_details_card">
        <img src="/assets/Images/location-card.png" alt="" >
       </div>
         </div>   
    </div>
</div>
</div>


  