<link rel="stylesheet" href="../../../../assets/styles.css">
<!-- top breadcrub section start here  -->
<section class="breadcrub_top text-center position-relative">
        <img src="../../../../assets/Images/brdcrm_background.png" class=" brdcrumb_img position-absolute" alt="">
    <div class="page_brdcrumb position-relative">
        <h1 class="brd_top_main_heading font_32 outfit_B primary_text_color">SPYSS – Shri Pathanjali Yoga Shikshana Samiti <span class="secondary_text_color outfit_B">Karnataka</span></h1>
        <p class="brd_subheading text-white font_32 outifit_SB secondary_bg">Free Yoga Since 1980</p>
        <nav aria-label="breadcrumb text-center ">
            <ol class="breadcrumb top_brdcrm p-0">
                <li class="breadcrumb-item "><a href="#" class="d-flex align-items-center"><img src="../../../../assets/Images/svg_icons/home.svg" class="brdcrum_home_icon me-1" alt=""> Home <i class="bi bi-chevron-double-right"></i></a> </li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>

</section>
<!-- top breadcrub section end here  -->

    <!-- our moto section about page start Here  -->
<section class="moto_mision_vision pb_90 about_page_moto_mision_vision">

    <div class="container">
        <div class="left_side_right_img position-relative about_page_moto">
            <img src="../../../../assets/Images/swastik.svg" class="moto_right_top_img" alt="">
            <img src="../../../../assets/Images/map.svg" class="moto_top_right_img" alt="">
            <!-- moto start here -->
            <div class="row mb_90 align-items-center">
                <div class="col-md-6">
                    <div class="moto_text_side">
                        <h3 class="primary_text_color font_42 outfit_B">Our <span
                                class="secondary_text_color outfit_B">Motto</span></h3>
                        <p class="subhead_moto secondary_text_color font_42 outfit_R">Vasudeva <br>
                            kutumbakam</p>
                    </div>
                    <div class="one-family">
                        <h4 class="primary_text_color font_32">The World Is One Family</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/Images/globe.svg" class="moto_main_img img-fluid" alt="">
                </div>
            </div>
            <!-- moto end here -->
        </div>
        <!-- mision vision start here -->
        <div class="vision_mision">
            <div class="vm_top_title text-center">
                <h3 class="primary_text_color font_42 outfit_B mision_heading">Our Mission & <span
                        class="secondary_text_color outfit_B">Vission</span></h3>
                <p class="mision_subheading font_18 outfit_SB mb_80 secondary_text_color">Lorem Ipsum is simply
                    dummy text of the
                    printing and typesetting industry <br>
                    Lorem Ipsum has been the industry's standard dummy.</p>

            </div>
            <div class="row align-items-center position-relative">

                <span class="verticle_line"></span>
                <div class="col-md-6">
                    <div class="vission_text d-inline-block w-100 text-right">
                        <span class="dotted_circle"></span>
                        <h3 class="font_36 secondary_text_color outfit_SB mb-3">Vision</h3>
                        <p class="font_20 redhat_M mb-1">To make the <span class="primary_text_color">Vasudhaiva
                                Kutumbakam</span></p>
                        <p class="font_20 redhat_M">The World is one family a living reality on
                            earth.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vision_image position-relative">
                        <span class="left_top_box"></span>
                        <span class="left_top_box_outline"></span>

                        <img src="../../../../assets/Images/yoga-4.png" class="img-fluid vision_img position-relative"
                            alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vision_image mision_image position-relative">
                        <span class="left_top_box"></span>
                        <span class="left_top_box_outline"></span>

                        <img src="../../../../assets/Images/mision_image.png"
                            class="img-fluid vision_img position-relative" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vission_text mision_text d-inline-block w-100 text-left">
                        <span class="dotted_circle"></span>
                        <h3 class="font_36 secondary_text_color outfit_SB mb-3">Mision</h3>
                        <p class="font_20 redhat_M mb-1">To make the <span class="primary_text_color">Vasudhaiva
                                Kutumbakam</span></p>
                        <p class="font_20 redhat_M">The World is one family a living reality on
                            earth.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- mision vision end here -->

    </div>

</section>
    <!-- our moto section about page end Here  -->

    <!-- Our value section about page start here -->
    
    <section class="our_value_sec py_100  about_page_our_value">
        <div class="value_main_text text-center">
            <h3 class="main_heading_value primary_text_color font_42 outfit_B mb_20">Our <span
                    class="secondary_text_color outfit_B">Values</span></h3>
            <p class="main_subheading_value secondary_text_color font_18 outfit_SB">Lorem Ipsum is simply dummy text of
                the printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                dummy.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single_value_card text-center">
                        <img src="../../../../assets/Images/sanskara-square.png" class="img-fluid value_card_img" alt="">
                        <div class="single_value_card_text">
                            <h4 class="value_card_tittle secondary_text_color font_16 outfit_B text-uppercase mb-3">
                                right attitude</h4>
                            <p class="value_card_description mb-0 font_14 redhat_R">Fairs, sports tournaments, family
                                quizzes and food <br> festivals will be held in parks, squares, courtyards, <br>
                                squares.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_value_card text-center">
                        <img src="../../../../assets/Images/om-square.png" class="img-fluid value_card_img" alt="">
                        <div class="single_value_card_text">
                            <h4 class="value_card_tittle secondary_text_color font_16 outfit_B text-uppercase mb-3">team
                                spirit</h4>
                            <p class="value_card_description mb-0 font_14 redhat_R">Urban festival of surf culture,
                                which for the second<br> time will be held in the open air in the center.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_value_card text-center">
                        <img src="../../../../assets/Images/seve-square.png" class="img-fluid value_card_img" alt="">
                        <div class="single_value_card_text">
                            <h4 class="value_card_tittle secondary_text_color font_16 outfit_B text-uppercase mb-3">
                                selfless service</h4>
                            <p class="value_card_description mb-0 font_14 redhat_R">The only city festival dedicated to
                                the life and <br>
                                responsible keeping of dogs in the megalopolis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Our value section about page end here -->

    <!-- Our History section start Here -->

    <section class="our_history_sec position-relative d-flex align-items-center">
        <img src="../../../../assets/Images/histroy_bg_img.svg" class="history_bg position-absolute" alt="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="our_history_text_sec text-center">
                        <h4 class="font_42 outfit_B primary_text_color">Our <span class="secondary_text_color outfit_B">History</span></h4>
                        <p class="out_history_subheading font_20 redhat_SB">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard <br>
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen <br>
                        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially <br>
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more <br>
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our History section end Here -->

    <!-- How we are unique section start Here -->
    <section class="how_we_are_unique py_100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="how_we_are_unique_text position-relative">
                        <img src="../../../../assets/Images/our_histrory_top_img.png" class="our_history_top position-absolute" alt="">
                        <h5 class="how_we_are_unique_heading text-white outfit_B font_42">How Unique We are</h5>
                        <p class="how_we_are_unique_subheading text-white font_16 outfit_SB">Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                        dummy.</p>
                        <p class="text-white how_we_are_unique_others font_14 redhat_M">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an  unknown printer took a galley of type and scrambled it to make a type specimen 
                        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s  with the release of Letraset sheets containing Lorem Ipsum passages, and more 
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- How we are unique section end Here -->
    <!-- wings of spyss sections Start here -->
    <section class="wing_of_spyss py_100 position-relative">
        <img src="../../../../assets/Images/brdcrm_background.png" class=" brdcrumb_img position-absolute" alt="">
        <div class="wings_text_sec text-center">
            <h3 _ngcontent-cbr-c4="" class="main_heading_value primary_text_color font_42 outfit_B mb_20">Wing of <span
                    _ngcontent-cbr-c4="" class="secondary_text_color outfit_B">SPYSS</span></h3>
            <p _ngcontent-tqy-c4="" class="main_subheading_value secondary_text_color font_18 outfit_SB">Lorem Ipsum is simply dummy
                text of the printing and typesetting <br _ngcontent-tqy-c4=""> industry. Lorem Ipsum has been the industry's
                standard dummy.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="align-items-start wings_tab">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active position-relative d-flex align-items-center" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Children <sup class="visible">01</sup></button>
                            <button class="nav-link position-relative d-flex align-items-center" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Working Professionals<sup class="visible">02</sup></button>
                            <button class="nav-link position-relative d-flex align-items-center" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                                type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Women<sup class="visible">03</sup></button>
                            <button class="nav-link position-relative d-flex align-items-center" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                                type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Theraphy <sup class="visible">04</sup></button>
                            <button class="nav-link position-relative d-flex align-items-center" id="v-pills-senior-citizens-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-senior-citizens" type="button" role="tab" aria-controls="v-pills-senior-citizens"
                                aria-selected="false">Senior citizens <sup class="visible">05</sup></button>
                            <button class="nav-link position-relative d-flex align-items-center" id="v-pills-national-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-national" type="button" role="tab" aria-controls="v-pills-national"
                                aria-selected="false">National <sup class="visible">06</sup></button>
                            <button class="nav-link position-relative d-flex align-items-center" id="v-pills-international-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-international" type="button" role="tab" aria-controls="v-pills-international"
                                aria-selected="false">International<sup class="visible">07</sup></button>
                            </div>
                        </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                     <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry. Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                     dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                     book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                    <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry.
                                        Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                        dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type
                                        and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                        book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                    <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry.
                                        Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                        dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type
                                        and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                        book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                    <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry.
                                        Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                        dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type
                                        and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                        book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-senior-citizens" role="tabpanel" aria-labelledby="v-pills-senior-citizens-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                    <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry.
                                        Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                        dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type
                                        and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                        book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-national" role="tabpanel" aria-labelledby="v-pills-national-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                    <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry.
                                        Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                        dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type
                                        and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                        book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-international" role="tabpanel" aria-labelledby="v-pills-international-tab">
                            <div class="wings_text_box d-flex align-items-center">
                                <div class="wings_text_left">
                                    <p>Lorem Ipsum is simply dummy text of the printing and <br class="d-none d-md-block"> typesetting industry.
                                        Lorem Ipsum has been the <br class="d-none d-md-block">industry's standard
                                        dummy text ever since the 1500s,<br class="d-none d-md-block"> when an unknown printer took a galley of type
                                        and <br class="d-none d-md-block"> scrambled it to make a type specimen
                                        book.</p>
                                </div>
                                <div class="wings_text_image_right">
                                    <img src="../../../../assets/Images/GoogleDrive_Kids-Camp-2-.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- wings of spyss sections End here-->
    <!-- about contact us Start here -->
    <section class="get_in_touch_about_page py_100 position-relative">
<img src="../../../../assets/Images/about_page_swastik.png" class="about_page_swastik" alt="">

        <div class="container get_in_touch_bottom_sec mt-0">
            <div class="row primary_bg position-relative">
                <img src="../../../../assets/Images/get_in_touch_swastik.svg" class="get_in_touch_bottom" alt="">
                <img src="../../../../assets/Images/contact_right_top.png" class="get_in_touch_top_right" alt="">
                <div class="col-md-6">
                    <div class="contact_info_text">
                        <h4 class="get_in_touch_heading outfit_B text-white mb-2">Get in touch</h4>
                        <p class="get_it_touch_subheading font_22 redhat_R text-white">Feel free to contact us.</p>
                        <div class="contact_details_info">
                            <ul class="contact_details">
                                <li>
                                    <div class="call d-flex align-items-center"> <img
                                            src="../../../../assets/Images/svg_icons/call.svg" class="img-fluid me-3" alt="">
                                        <h3 class="font_20 redhat_SB text-white">+91 0000000000</h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="call d-flex align-items-center"> <img
                                            src="../../../../assets/Images/svg_icons/mail.svg" class="img-fluid me-3" alt="">
                                        <h3 class="font_20 redhat_SB text-white">info@spyss.org</h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="call d-flex align-items-start"> <img
                                            src="../../../../assets/Images/svg_icons/location.svg" class="img-fluid me-3"
                                            alt="">
                                        <h3 class="font_20 redhat_SB text-white">Shri Patanjali Yoga Mandira, <br>
                                            Near Bail Anjaneya Temple, Hanumantpura <br>
                                            Tumkur, Karnataka, INDIA</h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_form">
                        <form action="#">
                            <div class="field_box">
                                <label for="name" class="font_14 redhat_M mb-2">Enter Your Name</label>
                                <input type="text" class="form-control" placeholder="Sameer Shaikh" required>
                            </div>
                            <div class="field_box">
                                <label for="name" class="font_14 redhat_M mb-2">Enter Your Email</label>
                                <input type="text" class="form-control" placeholder="sameershaikh@gmail.com" required>
                            </div>
                            <div class="field_box">
                                <label for="name" class="font_14 redhat_M mb-2">Enter Your Message</label>
                                <textarea name="message" placeholder="Hii..." class="form-control" id="" cols="30"
                                    rows="5"></textarea>
                            </div>
                            <button
                                class="btn text-white secondary_bg btn-send_message ms-auto d-flex justify-content-center align-items-center">Send
                                Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about contact us End here-->
