
<link rel="stylesheet" href="../../../../assets/styles.css">
<div class="slider_main">


    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']"
        class="w-100 position-absolute custom_top_banner">
        <div class="item">
            <img src="../../../../assets/Images/top_bg_home_pg.png" style="height: 752px;" alt="">
        </div>
        <div class="item embed-responsive embed-responsive-4by3">
            <video class="video-fluid" autoplay loop style="height: 752px; width: 100%; object-fit: cover;"
                src="../../../../assets/Video/videoplayback.mp4">
            </video>
            <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
        </div>
    </owl-carousel>
</div>