
    <link rel="stylesheet" href="../../../../assets/styles.css">

<!-- top breadcrub section start here  -->
<section class="breadcrub_top branch_list text-center position-relative">
    <img src="../../../../assets/Images/brdcrm_background.png" class=" brdcrumb_img position-absolute" alt="">
    <div class="page_brdcrumb position-relative">
        <h1 class="brd_top_main_heading font_32 outfit_B primary_text_color">SPYSS –<span class="secondary_text_color outfit_B">Events</span></h1>
        <p class="brd_subheading text-white font_32 outifit_SB secondary_bg">Free Yoga Since 1980</p>
        <nav aria-label="breadcrumb text-center ">
            <ol class="breadcrumb top_brdcrm p-0">
                <li class="breadcrumb-item "><a href="#" class="d-flex align-items-center"><img
                            src="../../../../assets/Images/svg_icons/home.svg" class="brdcrum_home_icon me-1" alt="">
                        Home <i class="bi bi-chevron-double-right"></i></a> </li>
                <li class="breadcrumb-item active" aria-current="page">Events</li>
            </ol>
        </nav>
    </div>

</section>
<!-- top breadcrub section end here  -->
<!-- Event listing section Start here -->
<section class="events_list">
<div class="container py_80 all_events_box">
    <div class="row">
        <div class="col-md-12">
            <div class="event_list_heading">
                <h3 class="primary_text_color font_42 outfit_B">Events <span class="secondary_text_color outfit_B">Listing</span></h3>
            </div>
        </div>
        <div class="col-md-12 mt_50">
            <div class="events_list_tablist">
                <ul class="nav nav-pills  tabs_events " id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Upcoming Events</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Previous Events</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="upcoming_events_list_box mt_50">
                            <div class="upcoming_tab_text">
                                <h4 class="upcoming_tab_tittle font_26 outfit_B secondary_text_color mb_20">Upcoming Events Listing</h4>
                                <p class="upcoming_tab_details font_16 redhat_R">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                    dummy <br class="d-none d-md-block"> text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                                    book.
                                </p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/half-Moon-Pose-Ardha-Chandrasana.png"  class="card-img-top img-fluid" alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                    <h5 class="card-title mb-0 secondary_text_color">Padmasana</h5> <span class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from Sanskrit
                                                    meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                    <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event" class="preview_events d-flex align-items-center"><img src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt=""> Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Ashtanga_Namaskara_(cropped).png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Adho Mukha Shvanasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Anantasana_3.png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Astavakrasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Ardha_Chandrasana.png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Ardha Chandrasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Ashtanga_Namaskara.png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Ashtanga Namaskara</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Anantasana_3.png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Astavakrasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="upcoming_events_list_box mt_50">
                            <div class="upcoming_tab_text">
                                <h4 class="upcoming_tab_tittle font_26 outfit_B secondary_text_color mb_20">Previous Events Listing</h4>
                                <p class="upcoming_tab_details font_16 redhat_R">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard
                                    dummy <br class="d-none d-md-block"> text ever since the 1500s, when an unknown printer took a galley of
                                    type and scrambled it to make a type specimen
                                    book.
                                </p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/half-Moon-Pose-Ardha-Chandrasana.png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Padmasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from
                                                        Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Ashtanga_Namaskara_(cropped).png" class="card-img-top img-fluid"
                                                    alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Adho Mukha Shvanasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from
                                                        Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Anantasana_3.png" class="card-img-top img-fluid" alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Astavakrasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from
                                                        Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Ardha_Chandrasana.png" class="card-img-top img-fluid" alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Ardha Chandrasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from
                                                        Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Ashtanga_Namaskara.png" class="card-img-top img-fluid" alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Ashtanga Namaskara</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from
                                                        Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single_event_card">
                                            <div class="card">
                                                <img src="../../../../assets/Images/Anantasana_3.png" class="card-img-top img-fluid" alt="...">
                                                <div class="card-body">
                                                    <div class="card_top d-flex align-items-center mb_20">
                                                        <h5 class="card-title mb-0 secondary_text_color">Astavakrasana</h5> <span
                                                            class="badge event_babdge font_12 ms-auto">New</span>
                                                    </div>
                                                    <p class="card-text font_14 redhat_R mb_20">A seated asana with the legs crossed and the feel <br
                                                            class="d-none d-md-block"> placed on top of the opposite thighs. The name cimes from
                                                        Sanskrit
                                                        meaning "lotus throne".</p>
                                                    <div class="card_bottom d-flex align-items-center">
                                                        <a href="#" class="btn btn-primary">Register</a> <a routerLink="/preview_event"
                                                            class="preview_events d-flex align-items-center"><img
                                                                src="../../../../assets/Images/svg_icons/preview_eye.svg" class="img-fluid me-1" alt="">
                                                            Preview</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Event listing section  End here-->
<!-- events page get in touch section start here -->
<section class="get_in_touch_about_page py_100 position-relative d-flex align-items-center">
    <img src="../../../../assets/Images/left_center_get_in_touch.png" class="event_page_swastik" alt="">
    <img src="../../../../assets/Images/right_bootom_get)in)touch.png" class="event_page_swastik_right" alt="">

    <div class="container get_in_touch_bottom_sec mt-0">
        <div class="row primary_bg position-relative">
            <img src="../../../../assets/Images/get_in_touch_swastik.svg" class="get_in_touch_bottom" alt="">
            <img src="../../../../assets/Images/contact_right_top.png" class="get_in_touch_top_right" alt="">
            <div class="col-md-6">
                <div class="contact_info_text">
                    <h4 class="get_in_touch_heading outfit_B text-white mb-2">Get in touch</h4>
                    <p class="get_it_touch_subheading font_22 redhat_R text-white">Feel free to contact us.</p>
                    <div class="contact_details_info">
                        <ul class="contact_details">
                            <li>
                                <div class="call d-flex align-items-center"> <img
                                        src="../../../../assets/Images/svg_icons/call.svg" class="img-fluid me-3"
                                        alt="">
                                    <h3 class="font_20 redhat_SB text-white">+91 0000000000</h3>
                                </div>
                            </li>
                            <li>
                                <div class="call d-flex align-items-center"> <img
                                        src="../../../../assets/Images/svg_icons/mail.svg" class="img-fluid me-3"
                                        alt="">
                                    <h3 class="font_20 redhat_SB text-white">info@spyss.org</h3>
                                </div>
                            </li>
                            <li>
                                <div class="call d-flex align-items-start"> <img
                                        src="../../../../assets/Images/svg_icons/location.svg" class="img-fluid me-3"
                                        alt="">
                                    <h3 class="font_20 redhat_SB text-white">Shri Patanjali Yoga Mandira, <br>
                                        Near Bail Anjaneya Temple, Hanumantpura <br>
                                        Tumkur, Karnataka, INDIA</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact_form">
                    <form action="#">
                        <div class="field_box">
                            <label for="name" class="font_14 redhat_M mb-2">Enter Your Name</label>
                            <input type="text" class="form-control" placeholder="Sameer Shaikh" required>
                        </div>
                        <div class="field_box">
                            <label for="name" class="font_14 redhat_M mb-2">Enter Your Email</label>
                            <input type="text" class="form-control" placeholder="sameershaikh@gmail.com" required>
                        </div>
                        <div class="field_box">
                            <label for="name" class="font_14 redhat_M mb-2">Enter Your Message</label>
                            <textarea name="message" placeholder="Hii..." class="form-control" id="" cols="30"
                                rows="5"></textarea>
                        </div>
                        <button
                            class="btn text-white secondary_bg btn-send_message ms-auto d-flex justify-content-center align-items-center">Send
                            Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- events page get in touch section end here-->
