body {
    font-family: "Outfit-R";
    max-width: 100%;
    max-height: 100%;
  }
  
  .main_top_section {
    position: relative;
  }
  .bg_section {
    background-color: #fef6f1;
    width: 100%;
  }
  
  .bg_img {
    text-align: end;
  }
  .sub_section {
    position: absolute;
    top: 0;
  }
  
  /* login page css start here */
  .py_90 {
    padding: 90px 0;
  }
  .bg_light {
    background-color: #fef6f1;
  }
  .right_login_box {
    padding: 20px 25px;
    background-color: #f26000;
    min-height: 765px;
  }
  .back_btn {
    font-size: 16px;
    color: #fff;
    font-family: "RedHotDisplay-M";
  }
  .login_text_box {
    margin-top: 90px;
  }
  .login_text_box .login_title {
    color: #fff;
    white-space: nowrap;
  }
  .login_title .vertical_border {
    width: 100%;
    margin-left: 20px;
    border: 2px dashed #fff;
    opacity: 0.5;
  }
  .login_sub_title {
    color: #fff;
  }
  .chakra_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .top_bg_swastik {
    position: absolute;
    top: 0;
    left: 0;
  }
  .bottom_bg_swastik {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .login_form {
    background-color: #fff;
    height: 644px;
    padding: 60px 40px;
    margin: 60px 0px;
    left: -50px;
    position: relative;
  }

  .login_sub_heading h2 {
    color: #f26000;
  }
  .login_sub_heading span {
    color: #111010;
  }
  .login_sub_heading h1 {
    font-size: 45px;
    font-family: "Outfit-B";
    color: #2d4356;
  }
  
  .login_sub_heading p.mt-2.password_heading {
   
  
    color: #111010;
  }
  .login_sub_heading .login_Log_pass {
    font-family: "RedHotDisplay-B";
  }
  .form_control {
    height: calc(1.9em + 0.75rem + 2px);
  }
  
  .bottom_login_btn {
    background-color: #f26000;
    min-width: 250px;
    min-height: 54px;
    color: #fff;
    
  }
  .form-group.ml-auto {
    position: relative;
    margin-top: 166px;
    text-align: end;
  }
  .login_bottom_head p {
    font-size: 16px;
    font-family: "RedHotDisplay-SB";
    color: #6c757d;
  }
  .login_bottom_head a {
    font-size: 18px;
    font-family: "RedHotDisplay-B";
    color: #006fff;
  }
  input.form_control.form-control.rounded-0 {
    border: 1.5px solid #f26000;
    box-shadow: none;
  }
  div#modalSend {
    margin-top: 119px;
  }
  .modal-body {
    text-align: center;
  }
  .modal_heading {
      font-size: 32px;
      font-family: "Outfit-SB";
      color: #15181A;
  }
  .modal_sub_heading {
      font-size: 16px;
      font-family: 'Outfit-R';
  }
  .modal_sub_heading span {
      font-family: 'Outfit-M';
      color: #15181A;
  }