
    <link rel="stylesheet" href="../../../../assets/styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <div
      class="login_page bg_light d-inline-block w-100 py_90 position-relative overflow-hidden"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="right_login_box position-relative">
              <img
                src="../../../../assets/login_section/Mask Group 14.png"
                class="top_bg_swastik"
                alt=""
              />
              <img
                src="../../../../assets/login_section/Mask Group 15.png"
                class="bottom_bg_swastik"
                alt=""
              />
              <a href="#" class="back_btn d-inline-flex align-items-center"
                ><span class="material-icons mr-2"> arrow_back </span> Back To
                Home</a
              >
              <div class="login_text_box d-inline-block w-100">
                <h1
                  class="login_title outfit_B font_35 d-inline-flex align-items-center w-100 mb-3"
                >
                  SPYSS <span class="vertical_border"></span>
                </h1>
                <p class="login_sub_title redhat_M font_18">
                  SPYSS was started in 1980 as a small yoga <br class="mb-0" />
                  camp at Karnataka
                </p>
                <div
                  class="login_chakra_image d-inline-block w-100 mt-5 position-relative text-center"
                >
                  <img
                    src="../../../../assets/login_section/background.png"
                    class="chakra_img"
                    alt=""
                  />
                  <img
                    src="../../../../assets/login_section/yoga_meditation.png"
                    class="position-relative"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="login_form">
              <div class="login_sub_heading">
                <h2 class="redhat_SB font_30">Recover <span class="redhat_SB font_30">Your</span></h2>
                <h1>Password</h1>
                <p class="mt-2 password_heading font_18 redhat_R">
                  Please enter your Mail ID and get the link to<br />
                  recover your password
                </p>
              </div>
              <div class="form-group mt-3" style="margin-bottom: 25px">
                <label class="font_16 redhat_SB label_style">Email id</label>
                <input
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': isSubmit && auth_form.controls.email.errors
                  }"
                  type="text"
                  class="form_control form-control rounded-0"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="isSubmit && auth_form.controls.email.errors"
                >
                  <div *ngIf="auth_form.controls.email.errors.required">
                    Please required Email Id
                  </div>
                  <div *ngIf="auth_form.controls.email.errors.email">
                    Email Id is not Correct please check again
                  </div>
                </div>
              </div>
              <div class="form-group ml-auto">
                <button
                data-toggle="modal"
                data-target="#modalSend"
                class="btn btn bottom_login_btn font_18 redhat_SB rounded-0"
                (click)="login()"
                >
                  SEND
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="fade modal" id="modalSend">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-body">
        <img
          src="../../../../assets/login_section/sent.svg"
          class="mt-4 my-2"
          alt=""
        />
        <h2 class="mt-2 modal_heading">Succecfully Send</h2>
        <p class="mt-2 my-2 modal_sub_heading">
          Link is successfully send to the mail id
          <span>username@gmail.com</span> please check the inbox and recover
          your password
        </p>
        <button
          data-dismiss="modal"
          class="btn btn bottom_login_btn rounded-0 my-4"
          routerLink="/login"
        >
          Back to Login
        </button>
      </div>
    </div>
  </div>
</div>
