
    <link rel="stylesheet" href="../../../../assets/styles.css">


    <!-- top banner section start here -->

<section class="top_banner d-flex align-items-center position-relative">
    <app-top-slider></app-top-slider>
    <!-- <div id="carouselExampleIndicators" class="carousel slide custom_slider_header" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active me-0" style="background-image: url(../../../assets/Images/top_bg_home_pg.png);">
            </div>
            <div class="carousel-item me-0" style="background-image: url(../../../assets/Images/mision_image.png);">
            </div>
            <div class="carousel-item me-0" style="background-image: url(../../../assets/Images/yoga-4.png);">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>  -->
    <!-- /////////// -->
    <div class="container custom_header_content">
        <div class="row">
            <div class="col-md-8">
                <h1 class="top_banner_tittle font_66 outfit_SB">Experience the Yogic <br>Way
                    <span class="outfit_SB secondary_text_color position-relative">of Life</span>
                </h1>
                <p class="top_banner_subhead text_light font_22 redhat_R mb_35">
                    Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum has
                    been the industry's <br> standard
                    dummy text ever since the 1500s,
                </p>
                <a href="nearest-branch"
                    class="btn btn-primary nearest_branch font_18 redhat_SB mr_20 d-inline-flex align-items-center justify-content-center">Nearest
                    Branch</a> 
                    <a href="#"
                    class="btn btn-outline-light d-inline-flex align-items-center justify-content-center">Upcoming
                    Events</a>
            </div>
        </div>
    </div>


    </section>
    <!-- top banner section end here -->

    <!-- moto & mision & vision start here -->
    <section class="moto_mision_vision pb_90">

        <div class="container">
            <div class="left_side_right_img position-relative">
                <img src="../../../../assets/Images/swastik.svg" class="moto_right_top_img" alt="">
                <img src="../../../../assets/Images/map.svg" class="moto_top_right_img" alt="">
                <!-- moto start here -->
                <div class="row mb_90 align-items-center">
                    <div class="col-md-6">
                        <div class="moto_text_side">
                            <h3 class="primary_text_color font_42 outfit_B">Our <span
                                    class="secondary_text_color outfit_B">Motto</span></h3>
                            <p class="subhead_moto secondary_text_color font_42 outfit_R">Vasudeva <br>
                                kutumbakam</p>
                        </div>
                        <div class="one-family">
                            <h4 class="primary_text_color font_32">The World Is One Family</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../../assets/Images/globe.svg" class="moto_main_img img-fluid" alt="">
                    </div>
                </div>
                <!-- moto end here -->
            </div>
            <!-- mision vision start here -->
            <div class="vision_mision">
                <div class="vm_top_title text-center">
                    <h3 class="primary_text_color font_42 outfit_B mision_heading">Our Mission & <span
                            class="secondary_text_color outfit_B">Vission</span></h3>
                    <p class="mision_subheading font_18 outfit_SB mb_80 secondary_text_color">Lorem Ipsum is simply
                        dummy text of the
                        printing and typesetting industry <br>
                        Lorem Ipsum has been the industry's standard dummy.</p>

                </div>
                <div class="row align-items-center position-relative">

                    <span class="verticle_line"></span>
                    <div class="col-md-6">
                        <div class="vission_text d-inline-block w-100 text-right">
                            <span class="dotted_circle"></span>
                            <h3 class="font_36 secondary_text_color outfit_SB mb-3">Vision</h3>
                            <p class="font_20 redhat_M mb-1">To make the <span class="primary_text_color">Vasudhaiva
                                    Kutumbakam</span></p>
                            <p class="font_20 redhat_M">The World is one family a living reality on
                                earth.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="vision_image position-relative">
                            <span class="left_top_box"></span>
                            <span class="left_top_box_outline"></span>

                            <img src="../../../../assets/Images/yoga-4.png"
                                class="img-fluid vision_img position-relative" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="vision_image mision_image position-relative">
                            <span class="left_top_box"></span>
                            <span class="left_top_box_outline"></span>

                            <img src="../../../../assets/Images/mision_image.png"
                                class="img-fluid vision_img position-relative" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="vission_text mision_text d-inline-block w-100 text-left">
                            <span class="dotted_circle"></span>
                            <h3 class="font_36 secondary_text_color outfit_SB mb-3">Mision</h3>
                            <p class="font_20 redhat_M mb-1">To make the <span class="primary_text_color">Vasudhaiva
                                    Kutumbakam</span></p>
                            <p class="font_20 redhat_M">The World is one family a living reality on
                                earth.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mision vision end here -->

        </div>

    </section>
    <!-- moto & mision & vision end here -->
    <!-- Our value section  start here -->

    <section class="our_value_sec py_100">
        <div class="value_main_text text-center">
            <h3 class="main_heading_value primary_text_color font_42 outfit_B mb_20">Our <span
                    class="secondary_text_color outfit_B">Values</span></h3>
            <p class="main_subheading_value secondary_text_color font_18 outfit_SB">Lorem Ipsum is simply dummy text of
                the printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                dummy.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single_value_card text-center">
                        <img src="../../../../assets/Images/sanskara-square.png" class="img-fluid value_card_img"
                            alt="">
                        <div class="single_value_card_text">
                            <h4 class="value_card_tittle secondary_text_color font_16 outfit_B text-uppercase mb-3">
                                right attitude</h4>
                            <p class="value_card_description mb-0 font_14 redhat_R">Fairs, sports tournaments, family
                                quizzes and food <br> festivals will be held in parks, squares, courtyards, <br>
                                squares.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_value_card text-center">
                        <img src="../../../../assets/Images/om-square.png" class="img-fluid value_card_img" alt="">
                        <div class="single_value_card_text">
                            <h4 class="value_card_tittle secondary_text_color font_16 outfit_B text-uppercase mb-3">team
                                spirit</h4>
                            <p class="value_card_description mb-0 font_14 redhat_R">Urban festival of surf culture,
                                which for the second<br> time will be held in the open air in the center.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_value_card text-center">
                        <img src="../../../../assets/Images/seve-square.png" class="img-fluid value_card_img" alt="">
                        <div class="single_value_card_text">
                            <h4 class="value_card_tittle secondary_text_color font_16 outfit_B text-uppercase mb-3">
                                selfless service</h4>
                            <p class="value_card_description mb-0 font_14 redhat_R">The only city festival dedicated to
                                the life and <br>
                                responsible keeping of dogs in the megalopolis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our value section end here -->

    <!-- what we do section start here -->
    <section class="what_we_do_sec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="what_we_do_sec_img position-relative d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/Images/chakra.png" class="bg_chakra position-absolute img-fluid"
                            alt="">
                        <img src="../../../../assets/Images/what_we_do_img.png"
                            class="what_we_do position-relative img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 text-end">
                    <div class="what_we_do_sec_text">
                        <h3 class="font_42 outfit_B primary_text_color">What We <span
                                class="outfit_B secondary_text_color">Do</span></h3>
                        <p class="what_we_do_sub_heading font_18 outfit_SB secondary_text_color">Lorem Ipsum is simply
                            dummy text of the printing and typesetting <br> industry. Lorem Ipsum has been the
                            industry's standard
                            dummy.</p>
                        <p class="what_we_do_other_text dark_text_color font_16 redhat_SB">We try to transform the
                            personality of an individual through daily conduct, <br> healthy life style, dynamic
                            personality,
                            harmonious family and positive <br> approach to life through main motto's</p>
                        <div class="heilight secondary_bg mb_15">
                            <p class="text-white">SPYSS defined as – Sanskara (value based behavior and activities)</p>
                        </div>
                        <div class="heilight primary_bg">
                            <p class="text-white">SPYSS defined as – Sanskara (value based behavior and activities)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- what we do section end here -->

    <!-- who we are section start here -->
    <section class="who_we_are_sec py_100 position-relative">
        <img src="../../../../assets/Images/who_we_are_top.png" class="img-fluid who_v_r_top" alt="">
        <img src="../../../../assets/Images/who_we_are_bottom.png" class="img-fluid who_v_r_bottom" alt="">
        <div class="container ">
            <div class="row align-items-center position-relative justify-content-center">
                <img src="../../../../assets/Images/chakra_who_we_are.png"
                    class="img-fluid center_who_v_r position-absolute" alt="">
                <div class="col-md-6">
                    <div class="who_we_are_text">
                        <h4 class="primary_text_color font_42 outfit_B who_v_r_heading">Who We <span
                                class="secondary_text_color outfit_B">Are</span></h4>
                        <p class="dark_text_color font_18 redhat_SB who_v_r_subheading">Lorem Ipsum is simply dummy text
                            of the printing and <br> typesetting industry. Lorem Ipsum has been the industry's</p>
                        <p class="who_v_r_other_subtittle redhat_SB font_18">An organization spearheading a movement for
                            social <br> enrichment through Yoga Sadhana.</p>
                        <a href="#"
                            class="btn btn-primary font_16 redhat_SB d-inline-flex align-items-center justify-content-center">Read
                            More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vision_image who_we_are_image position-relative ms-0"><span
                            class="left_top_box"></span><span class="left_top_box_outline"></span><img alt=""
                            class="img-fluid vision_img position-relative"
                            src="../../../../assets/Images/focused-you.png"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- who we are section end here -->
    <!-- SPYSS was start section start here -->
    <section class="spyss_start_sec py_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="spyss_start_video">
                        <iframe width="545" height="405" src="https://www.youtube.com/embed/gzb0yz6QYas"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="spyss_start_text text-end">
                        <h4 class="redhat_B spyss_heading text-white">SPYSS was started in 1980 as a small <br>
                            <span class="primary_text_color redhat_B"> yoga camp at Tumkur</span>
                        </h4>
                        <p class="spyss_subheading redhat_R font_16 text-white">Karnataka and ever since grown to become
                            a large organization with <br> 700+ branches across the world with more than 40,000+
                            voluntary <br> teachers and millions of Yoga practitioners</p>

                        <a href="#"
                            class="btn btn-primary font_18 redhat_SB d-inline-flex align-items-center justify-content-center">Read
                            More</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SPYSS was start section end here -->
    <!-- testimonial section start here -->
    <div class="container py_100 color">
        <div class="row align-items-center">
            <div class="col-md-12 ">
                <div class="text-center">
                    <h4 class="primary_text_color font_42 outfit_B who_v_r_heading">Our <span class="secondary_text_color outfit_B">Testimonial</span></h4>
                </div>
                <owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding' ]">

                    <div class="item " *ngFor="let img of Images">
                        <div class="single_card_carousel">
                            <div class="top_card_carousel d-flex position-relative align-items-center ">
                                <img src="{{img.image}}" class="img-fluid profile_img  " alt="">
                                <h5 class="user_name_testinomial outfit_B font_22">Eammy</h5>
                                <img src="../../../../assets/Images/quote.png" class="testimonial_quotes img-fluid"
                                    alt="">
                            </div>
                            <div class="testimonial_text">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                    Ipsum has
                                    been the industry's standard
                                    dummy text <br> ever since the 1500s,</p>
                            </div>

                        </div>
                    </div>
                </owl-carousel>

            </div>
        </div>
    </div>
    <!-- testimonial section end here -->
    <!-- Get in touch section start here -->

    <section class="get_in_touch">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62202.9160441803!2d77.51314897910159!3d12.992163599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d924a8e8279%3A0xbc084f43574ecfce!2sSPYSS%20YOGA%20(Free%20Yoga%20Since%201980)%20%3A%20Siddaganga%20Branch%2C%20Basaveshwar%20Nagar!5e0!3m2!1sen!2sin!4v1648284602012!5m2!1sen!2sin"
            width="100%" height="452" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="container get_in_touch_bottom_sec">
            <div class="row primary_bg position-relative">
                <img src="../../../../assets/Images/get_in_touch_swastik.svg" class="get_in_touch_bottom" alt="">
                <img src="../../../../assets/Images/contact_right_top.png" class="get_in_touch_top_right" alt="">
                <div class="col-md-6">
                    <div class="contact_info_text">
                        <h4 class="get_in_touch_heading outfit_B text-white mb-2">Get in touch</h4>
                        <p class="get_it_touch_subheading font_22 redhat_R text-white">Feel free to contact us.</p>
                        <div class="contact_details_info">
                            <ul class="contact_details">
                                <li>
                                    <div class="call d-flex align-items-center"> <img
                                            src="../../../../assets/Images/svg_icons/call.svg" class="img-fluid me-3"
                                            alt="">
                                        <h3 class="font_20 redhat_SB text-white">+91 0000000000</h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="call d-flex align-items-center"> <img
                                            src="../../../../assets/Images/svg_icons/mail.svg" class="img-fluid me-3"
                                            alt="">
                                        <h3 class="font_20 redhat_SB text-white">info@spyss.org</h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="call d-flex align-items-start"> <img
                                            src="../../../../assets/Images/svg_icons/location.svg"
                                            class="img-fluid me-3" alt="">
                                        <h3 class="font_20 redhat_SB text-white">Shri Patanjali Yoga Mandira, <br>
                                            Near Bail Anjaneya Temple, Hanumantpura <br>
                                            Tumkur, Karnataka, INDIA</h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_form">
                        <form action="#">
                            <div class="field_box">
                                <label for="name" class="font_14 redhat_M mb-2">Enter Your Name</label>
                                <input type="text" class="form-control" placeholder="Sameer Shaikh" required>
                            </div>
                            <div class="field_box">
                                <label for="name" class="font_14 redhat_M mb-2">Enter Your Email</label>
                                <input type="text" class="form-control" placeholder="sameershaikh@gmail.com" required>
                            </div>
                            <div class="field_box">
                                <label for="name" class="font_14 redhat_M mb-2">Enter Your Message</label>
                                <textarea name="message" placeholder="Hii..." class="form-control" id="" cols="30"
                                    rows="5"></textarea>
                            </div>
                            <button
                                class="btn text-white secondary_bg btn-send_message ms-auto d-flex justify-content-center align-items-center">Send
                                Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get in touch section end here -->
