<link rel="stylesheet" href="../../../../assets/styles.css">
<div class="icon">
    <ul class="icons" >
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/facebook.svg" alt=""></a></li>
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/twitter.svg" alt=""></a></li>
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/google-plus.svg" alt=""></a></li>
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/instagram.svg" alt=""></a></li>
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/youtube.svg" alt=""></a></li>
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/linkdin.svg" alt=""></a></li>
        <li class="icons_item" ><a class="d-flex justify-content-center align-items-center" href="#" ><img src="../../../../assets/Images/svg_icons/whatsapp.svg" alt=""></a></li>
    </ul>
</div>

