
    <link rel="stylesheet" href="../../../../assets/styles.css">

<!-- event preview top banner start -->
<section class="event_preview_banner position-relative">
<img src="../../../../assets/Images/event_preview_top_banner.png" class="img-fluid top_banner_event " alt="">
<ul class="events_social_links">
    <li><a href="#" class="foot_item" class="d-flex align-items-center"><span class="social_icons_box"><img
                src="../../../../assets/Images/svg_icons/facebook.svg" class="social_icon" alt="" /></span>
        </a></li>
    <li><a href="#" class="foot_item" class="d-flex align-items-center"><span class="social_icons_box"><img
                src="../../../../assets/Images/svg_icons/twitter.svg" class="social_icon" alt="" /></span>
       </a></li>
    <li><a href="#" class="foot_item" class="d-flex align-items-center"><span class="social_icons_box"><img
                src="../../../../assets/Images/svg_icons/google-plus.svg" class="social_icon" alt="" /></span>
        </a></li>
    <li><a href="#" class="foot_item" class="d-flex align-items-center"><span class="social_icons_box"><img
                src="../../../../assets/Images/svg_icons/instagram.svg" class="social_icon" alt="" /></span>
       </a></li>
    <li><a href="#" class="foot_item" class="d-flex align-items-center"><span class="social_icons_box"><img
                src="../../../../assets/Images/svg_icons/youtube.svg" class="social_icon" alt="" /></span>
       </a></li>
    <li><a href="#" class="foot_item" class="d-flex align-items-center"><span class="social_icons_box"><img
                src="../../../../assets/Images/svg_icons/linkdin.svg" class="social_icon" alt="" /></span>
       </a></li>
</ul>
<div class="container event_detail_text_box h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-12">
            <div class="event_top_description text-white">
                <h1 class="event_details_main_heading font_44 outfit_B mb_20">Padmasana</h1>
                <p class="events_details_main_description mb-4">
                    A seated asana with the legs crossed and the feel placed on top of the <br class="d-none d-md-block"> opposite thighs. The name cimes from Sanskrit
                    meaning "lotus throne".
                </p>
                <a href="#" class="btn btn_register">Register Now</a>
            </div>
        </div>
    </div>
</div>
</section>
<!-- event preview top banner end-->
<!-- section event preview details section start here -->
<section class="preview_details_event">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="over_view_location">
                    <span class="event_over_view">Overview</span> <span class="event_over_view location">Location</span>
                </div>
                <div class="section_text_box">
                    <h3 class="serction_text_box_heading secondary_text_color font_42 outifit_SB mb_25">Overview</h3>
                    <h5 class="serction_text_box_sub_heading font_20 redhat_M mb_20">This workshop is from 10am, Wednesday, 18 july</h5>
                    <p class="serction_text_box_description ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an <br class="d-none d-md-block"> unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries,</p>
                </div>
                <div class="section_text_box">
                    <h3 class="serction_text_box_heading secondary_text_color font_42 outifit_SB mb_25">Who can attend</h3>
                    <ul class="details_section_list_type">
                        <li class="details_section_list_item position-relative d-flex align-items-center">Non Indians</li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">PIOs(People of indan origin living abroad)</li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">NRIs(Non-Resident Indians)</li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">People planning to go abroad for studies/work</li>
                    </ul>
                </div>
                <div class="section_text_box">
                    <h3 class="serction_text_box_heading secondary_text_color font_42 outifit_SB mb_25">Level & Assumed Knowledge</h3>
                    <p class="font_20 redhat_M other_details_section_text_box">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="section_text_box">
                    <h3 class="serction_text_box_heading secondary_text_color font_42 outifit_SB mb_25">Target Audience</h3>
                    <p class="font_20 redhat_M other_details_section_text_box">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                </div>
                <div class="section_text_box">
                    <h3 class="serction_text_box_heading secondary_text_color font_42 outifit_SB mb_25">Agenda</h3>
                    <ul class="details_section_list_type">
                        <li class="details_section_list_item position-relative d-flex align-items-center">Non Indians</li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">PIOs(People of indan origin
                            living abroad)</li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">NRIs(Non-Resident Indians)
                        </li>
                        <li class="details_section_list_item position-relative d-flex align-items-start">Sed ut perspiciatis unde omnis iste natus error sit
                            <ul class="sub_option_in_list">
                                <li class="position-relative d-flex align-items-center">Mental</li>
                                <li class="position-relative d-flex align-items-center">Physical</li>
                                <li class="position-relative d-flex align-items-center">Emotional</li>
                                <li class="position-relative d-flex align-items-center">Intellectual</li>
                                <li class="position-relative d-flex align-items-center">Spritual</li>
                            </ul>
                        </li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">People planning to go abroad
                            for studies/work</li>
                        <li class="details_section_list_item position-relative d-flex align-items-center">People planning to go abroad
                            for studies/work</li>
                    </ul>
                </div>
                <div class="section_text_box mb-0">
                    <h3 class="serction_text_box_heading secondary_text_color font_42 outifit_SB mb_25">Instructions for the Camp</h3>
                        <div class="row">
                            <div class="col-md-6 right-border">
                                <ul class="details_section_list_type">
                                <li class="details_section_list_item position-relative d-flex align-items-start">Sed ut perspiciatis unde omnis iste
                                    natus error sit
                                    <ul class="sub_option_in_list">
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                    </ul>
                                </li>
                                <li class="details_section_list_item position-relative d-flex align-items-start">Sed ut perspiciatis unde omnis iste
                                    natus error sit
                                    <ul class="sub_option_in_list">
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                        <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                    </ul>
                                </li>
                                </ul>
                            </div>
                            <div class="col-md-6 right_side">
                                <ul class="details_section_list_type">
                                <li class="details_section_list_item position-relative d-flex align-items-start">Sed ut perspiciatis unde omnis iste
                                    natus error sit
                                    <ul class="sub_option_in_list">
                                <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                                <li class="position-relative d-flex align-items-center">On the other hand, we denounce with righteous</li>
                            </ul>
                                </li>
                                <li class="details_section_list_item position-relative d-flex align-items-center">Sed ut perspiciatis unde omnis iste
                                    natus error sit</li>
                                <li class="details_section_list_item position-relative d-flex align-items-center">Sed ut perspiciatis unde omnis iste
                                    natus error sit</li>
                                </ul>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section event preview details section  end here-->
