<link rel="stylesheet" href="../../../../assets/styles.css" />
<div class="breadcrumb_dashboard ">
    <div class="container">
        <h6 class="text-white font_22 redhat_SB">Welcome to SYPSS</h6>
        <h3 class="text-white font_42 outfit_SB">DASHBOARD</h3>
    </div>
   
</div>
<div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="card dashboard_card">
            <div class="card-body">
               <div class="card-text"  routerLinkActive routerLink="/branch-report">
                    <div class="card_img d-flex align-item-center">
                    <img src="../../../../assets/Images/Component_14.svg" alt="">
                   <img src="../../../../assets/Images/Path 5533.png" alt="" class="ms-auto"> 
                    </div>
                    <span class="title_text font_14 outfit_R">Branch Reports</span>
                    <h6 class="title_heading font_25 outfit_B">15200</h6>
                   
              </div>
              
            </div>
            <div class="card_footer"   routerLinkActive routerLink="/">
              <span class="font_12 outfit_R gray_theme_color">Learn More</span>
                <img src="../../../../assets/Images/svg_icons/dashboard_arrow.svg" alt="" class="arrow_img ms-auto">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card dashboard_card">
          <div class="card-body">
             <div class="card-text"   routerLinkActive routerLink="/event-report">
                  <div class="card_img d-flex align-item-center">
                  <img src="../../../../assets/Images/svg_icons/dashboard_calendar(1).svg" alt="">
                 <img src="../../../../assets/Images/Path 5533.png" alt="" class="ms-auto"> 
                  </div>
                  <span class="title_text font_14 outfit_R">Event Reports</span>
                  <h6 class="title_heading font_25 outfit_B">16200</h6>
                 
            </div>
            
          </div>
          <div class="card_footer"   routerLinkActive routerLink="/">
            <span class="font_12 outfit_R gray_theme_color">Learn More</span>
              <img src="../../../../assets/Images/svg_icons/dashboard_arrow.svg" alt="" class="arrow_img ms-auto">
              
          </div>
      </div>
  </div>
        <div class="col-md-4">
            <div class="card dashboard_card">
                <div class="card-body">
                   <div class="card-text"   routerLinkActive routerLink="/yoga-bandhus">
                        <div class="card_img d-flex align-item-center">
                        <img src="../../../../assets/Images/svg_icons/yoga.svg" alt="">
                       <img src="../../../../assets/Images/Path 5533.png" alt="" class="ms-auto"> 
                        </div>
                        <span class="title_text font_14 outfit_R">Yoga Bandhus</span>
                        <h6 class="title_heading font_25 outfit_B">15200</h6>
                       
                  </div>
                  
                </div>
                <div class="card_footer"   routerLinkActive routerLink="/">
                  <span class="font_12 outfit_R gray_theme_color">Learn More</span>
                    <img src="../../../../assets/Images/svg_icons/dashboard_arrow.svg" alt="" class="arrow_img ms-auto">
                    
                </div>
            </div>
        </div>

    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="graph_body">
          <span class="graph_heading font_20 outfit_SB">Yearly Branches Performance</span>
          <!-- <img src="../../../../assets/Images/svg_icons/dashboard_graph.svg" alt="" class="graph_img"> -->
          <div id="container"></div>
        </div>
      </div>

    </div>

    <!--   Last Main Three Events page -->
   
    <div class="row last_three_event">
      <div class="last_three_event_heading">
        <span class="event_heading font_20 outfit_SB">Last Main Three Events</span>
      </div>

      <div class="col-md-4">

        <div class="card last_three_event_card">
            <div class="card-body">
               <div class="card-text">
                <span class="last_three_event_text font_14 outfit_R">Wing Name</span>
                    <div class="card_img gap-2 d-flex align-item-center ">
                    <img src="../../../../assets/Images/svg_icons/TotalMen.svg" alt="">
                    <span class="font_12 outfit_L gray_theme_color text-muted">Total Mens</span>
                    <h6 class="font_14 outfit_B">15</h6> 
                    <div class="vr"></div>
                   <img src="../../../../assets/Images/svg_icons/TotalWomen.svg" alt=""> 
                   <span class="font_12 outfit_L gray_theme_color text-muted">Total Mens</span>
                   <h6 class="font_14 outfit_B ">5</h6>     
                    </div>
         
                    
                    <div class="about_text_box"></div>
                    <div class="last_three_event_footer">
                      <span class="font_12 outfit_R gray_theme_color">Yoga bandhus</span>
                      <div class="img d-flex">
                        <img src="../../../../assets/Images/svg_icons/yogaBandhus.svg" alt="" class="">
                        <h6 class="font_12 outfit_B no_size">20+</h6>
                      </div>
                      
                    </div>
<!--                    
                    <h6 class="last_three_event_no font_25 outfit_B">15200</h6> -->
                   
              </div>
              
            </div>
      
        </div>
    </div>
   
    <div class="col-md-4">
      <div class="card last_three_event_card">
          <div class="card-body">
             <div class="card-text">
              <span class="last_three_event_text font_14 outfit_R">Wing Name</span>
                  <div class="card_img gap-2 d-flex align-item-center ">
                  <img src="../../../../assets/Images/svg_icons/TotalMen.svg" alt="">
                  <span class="font_12 outfit_L gray_theme_color text-muted">Total Mens</span>
                  <h6 class="font_14 outfit_B">15</h6> 
                  <div class="vr"></div>
                 <img src="../../../../assets/Images/svg_icons/TotalWomen.svg" alt=""> 
                 <span class="font_12 outfit_L gray_theme_color text-muted">Total Mens</span>
                 <h6 class="font_14 outfit_B ">5</h6>     
                  </div>
       
                  
                  <div class="about_text_box"></div>
                  <div class="last_three_event_footer">
                    <span class="font_12 outfit_R gray_theme_color">Yoga bandhus</span>
                    <div class="img d-flex">
                      <img src="../../../../assets/Images/svg_icons/yogaBandhus.svg" alt="" class="">
                      <h6 class="font_12 outfit_B no_size">20+</h6>
                    </div>
                    
                  </div>
<!--                    
                  <h6 class="last_three_event_no font_25 outfit_B">15200</h6> -->
                 
            </div>
            
          </div>
    
      </div>
  </div>
     
  <div class="col-md-4">

    <div class="card last_three_event_card">
        <div class="card-body">
           <div class="card-text">
            <span class="last_three_event_text font_14 outfit_R">Wing Name</span>
                <div class="card_img gap-2 d-flex align-item-center ">
                <img src="../../../../assets/Images/svg_icons/TotalMen.svg" alt="">
                <span class="font_12 outfit_L gray_theme_color text-muted">Total Mens</span>
                <h6 class="font_14 outfit_B">15</h6> 
                <div class="vr"></div>
               <img src="../../../../assets/Images/svg_icons/TotalWomen.svg" alt=""> 
               <span class="font_12 outfit_L gray_theme_color text-muted">Total Mens</span>
               <h6 class="font_14 outfit_B ">5</h6>     
                </div>
     
                
                <div class="about_text_box"></div>
                <div class="last_three_event_footer">
                  <span class="font_12 outfit_R gray_theme_color">Yoga bandhus</span>
                  <div class="img d-flex">
                    <img src="../../../../assets/Images/svg_icons/yogaBandhus.svg" alt="" class="">
                    <h6 class="font_12 outfit_B no_size">20+</h6>
                  </div>
                  
                </div>
               
          </div>
          
        </div>
  
    </div>
</div>

    </div>
</div>




